.lateral_submenu {
    background-color: rgba(51, 51, 51, 0.8);
    color: #FFFFFF;
    padding-top: 30px;
    margin-top: -15px;

    .selected_submenu {
        color: #FDB913;
    }

    .top_parent_menu {
        font-size: 22px;
    }

    .top_parent_submenu {
        font-size: 18px;
    }

    a {
        color: #FFFFFF;
    }

    a:hover {
        color: #FFFFFF;
        text-decoration: underline;
        text-decoration-color: #FDB913;
    }
}
