.navbar_softeam {
    padding-bottom: 30px;

    a {
        color: #FFFFFF;
    }

    .selected_menu {
        text-decoration: underline;
        text-decoration-color: #FDB913;
    }

    ul {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;

        li:not(:first-child) {
            margin-left: 100px;
        }

        li {
            a {
                color: #FFFFFF;
                font-size: 24px;
            }

            a:hover {
                text-decoration: underline;
                text-decoration-color: #FDB913;
            }
        }
    }
}
