.recherche {
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.8) 0%, rgba(51, 51, 51, 0.8) 50%, #EFEFEF 50%, #EFEFEF 100%);

    .search-wrapper {
        form {
            input {
                width: 100%;
                height: 30px;
                border: 1px solid #EFEFEF;
                border-radius: 6px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}
